<!-- Main Content -->
<div class="container mx-auto my-8">
    <!-- Page Heading -->
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold">Movimenti ContaPapagne</h2>
        <p class="text-xl">Gestisci le tue transazioni finanziarie.</p>
    </div>
  
    <!-- Form Section -->
    <div class="flex flex-col lg:flex-row gap-4 mb-8">
        <div class="bg-white rounded shadow-lg p-6 flex-1">
            <h3 class="text-xl font-bold mb-4">Registra Movimento</h3>
            {% include 'mov/movimento-form.html' %}
        </div>
        
        <!-- Placeholder per grafici o andamenti -->
        <div class="bg-white rounded shadow-lg p-6 flex-1">
            <h3 class="text-xl font-bold mb-4">Andamento Movimenti</h3>
            <div class="h-40 bg-gray-200 rounded flex items-center justify-center">
                <!-- Graph -->
            </div>
        </div>
    </div>
  
    <!-- Movimenti Table Section -->
    <div class="bg-white rounded shadow-lg p-6">
        <h3 class="text-xl font-bold mb-4">Dettaglio Movimenti</h3>
        <!-- qui andrá tabella dinamica -->
		<img id="spinner-id" src="../static/img/spinning-circles.svg" alt="Loading animation..." class="htmx-indicator">
		<div hx-get="{{url_for('movimenti.listaBreveMovimenti')}}" hx-trigger="load" hx-swap="outerHTML" hx-target="this" hx-indicator="#spinner-id"></div>
    </div>
</div>