<!-- Main Content -->
<div class="container mx-auto my-8">
    <!-- Page Heading -->
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold">Movimenti ContaPapagne</h2>
        <p class="text-xl">Gestisci le tue transazioni finanziarie.</p>
    </div>
  
    <!-- Form Section -->
    <div class="flex flex-col lg:flex-row gap-4 mb-8">
        <div class="bg-white rounded shadow-lg p-6 flex-1">
            <h3 class="text-xl font-bold mb-4">Registra Movimento</h3>
            <form class="bg-white rounded px-8 pt-6 pb-8 mb-4" hx-post="{{url_for('movimenti.createMovimento')}}" hx-target="#target-conferma" hx-trigger="click from:#submitbtn">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="data_movimento">
                        Data
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="data_movimento" name="data_movimento" type="date" placeholder="Data Movimento">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="importo_movimento">
                        Importo
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="importo_movimento" name="importo_movimento" type="number" placeholder="Importo">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="descrizione_movimento">
                        Descrizione
                    </label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descrizione_movimento" name="descrizione_movimento" placeholder="Descrizione"></textarea>
                </div>
                <div class="flex items-center justify-between">
                    <button id="submitbtn"class="button-fill-effect font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        Registra
                    </button>
                </div>
            </form>
			<div id="target-conferma"></div>
        </div>
        
        <!-- Placeholder per grafici o andamenti -->
        <div class="bg-white rounded shadow-lg p-6 flex-1">
            <h3 class="text-xl font-bold mb-4">Andamento Movimenti</h3>
            <div class="h-40 bg-gray-200 rounded flex items-center justify-center">
                <!-- Graph -->
            </div>
        </div>
    </div>
  
    <!-- Movimenti Table Section -->
    <div class="bg-white rounded shadow-lg p-6">
        <h3 class="text-xl font-bold mb-4">Dettaglio Movimenti</h3>
        <!-- qui andrá tabella dinamica -->
    </div>
</div>