<style>
	/* CSS categorie */
	.category-item {
		padding: 8px 16px;
		cursor: pointer;
	}

	.category-item:hover {
		background-color: #f3f3f3;
	}

	/* CSS toggle slider */
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #e49504;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>

<form id="movimento-form" class="px-3 pt-3 pb-3 mb-3" hx-post="{{url_for('movimenti.createMovimento')}}" hx-target="main">
 <div class="form-group row mb-3">
   <label for="tipologia_movimento" class="col-sm-2 col-form-label">Tipo:</label>
   <div class="col-sm-10">
     <div class="form-check form-switch">
       <input class="form-check-input" id="tipologia_movimento" name="tipologia_movimento" type="checkbox" value="true" onchange="switchTipoMovimento()">
       <label class="form-check-label" for="tipologia_movimento">USCITA / ENTRATA</label>
     </div>
   </div>
 </div>

 <div class="form-group row mb-3">
   <label for="data_movimento" class="col-sm-2 col-form-label">Data:</label>
   <div class="col-sm-10">
     <input class="form-control" id="data_movimento" name="data_movimento" type="date" placeholder="Data Movimento">
   </div>
 </div>

 <div class="form-group row mb-3">
    <label for="importo_movimento" class="col-sm-2 col-form-label">Importo:</label>
    <div class="col-sm-10">
      <input class="form-control" id="importo_movimento" name="importo_movimento" type="number" min="0" step="0.01" placeholder="Importo">
    </div>
 </div>

 <div class="form-group row mb-3">
    <label for="risarcimento_movimento" class="col-sm-2 col-form-label">Risarcimento:</label>
    <div class="col-sm-10">
      <input class="form-control" id="risarcimento_movimento" name="risarcimento_movimento" type="text" placeholder="Risarcimento" disabled="true">
    </div>
 </div> 

 <div class="form-group row mb-3">
   <label for="categoria_movimento" class="col-sm-2 col-form-label">Categorie:</label>
   <div class="col-sm-10">
     <div class="input-group"> 
       <input class="form-control" id="categoria_movimento" name="categoria_movimento" type="text"
         hx-get="/movimenti/fetchCategorie" hx-target="#res_fetch" hx-swap="innerHTML"
         hx-trigger="keyup changed delay:500ms" hx-indicator="#fetch-indicator">
       <div id="res_fetch" class="position-absolute bg-white border rounded w-100" style="max-height: 200px; overflow-y: auto; z-index: 1050; display: none;"></div>
     </div>
   </div>
 </div>

 <div class="form-group row mb-3">
    <label for="descrizione_movimento" class="col-sm-2 col-form-label">Descrizione:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="descrizione_movimento" name="descrizione_movimento" placeholder="Descrizione"></textarea>
    </div>
</div> 

<div class="form-group row mb-3">
	<div class="col-sm-10 offset-sm-2"> <button type="submit" class="btn btn-primary">Registra</button>
	</div>
</div>
</form>


<script>
	document.addEventListener('htmx:afterSwap', function (event) {
		console.log('HTMX afterSwap event triggered');
		if (event.detail.target.id === 'res_fetch') {
			console.log('HTMX swapped content into #res_fetch');
			if (event.detail.target.innerHTML.trim() !== '') {
				event.detail.target.style.display = 'block';
				console.log('Displaying #res_fetch');
				attachEventListeners();
			} else {
				event.detail.target.style.display = 'none';
				console.log('Hiding #res_fetch because it is empty');
			}
		}
	});

	function attachEventListeners() {
		const categoriaInput = document.getElementById('categoria_movimento');
		const resFetch = document.getElementById('res_fetch');

		resFetch.addEventListener('click', function (e) {
			if (e.target.classList.contains('category-item')) {
				categoriaInput.value = e.target.textContent; // imposta l'input con valore della dropdown
				resFetch.style.display = 'none'; // nasconde la dropdown
			}
		});

		categoriaInput.addEventListener('input', function () {
			resFetch.style.display = this.value ? 'block' : 'none';
		});
	}

	attachEventListeners();

</script>