<div class="container mt-4">
	<form id="categoria-form" class="bg-light p-4 border rounded" hx-post="{{ url_for('settings.createCategoria') }}" hx-target="main">
			<div class="mb-3">
					<label for="nome_categoria" class="form-label">Nome</label>
					<input type="text" id="nome_categoria" name="nome_categoria" class="form-control" placeholder="Nome">
			</div>
			<div>
				<label for="categoria_colore">Colore:</label>
				<input type="color" id="categoria_colore" name="categoria_colore">
			</div>
			<div class="mb-3">
					<label class="form-label">Tipologia</label>
					<div class="d-flex justify-content-around">
							<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="tipologia_categoria" id="solo_entrate" value="0">
									<label class="form-check-label" for="solo_entrate">
											💹 Solo entrate
									</label>
							</div>
							<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="tipologia_categoria" id="solo_uscite" value="1">
									<label class="form-check-label" for="solo_uscite">
											📉 Solo Uscite
									</label>
							</div>
							<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="tipologia_categoria" id="entrambe" value="2">
									<label class="form-check-label" for="entrambe">
											🔄 Entrambe
									</label>
							</div>
					</div>
			</div>
			<div class="mb-3">
					<label for="descrizione_categoria" class="form-label">Descrizione</label>
					<textarea class="form-control" id="descrizione_categoria" name="descrizione_categoria" rows="3" placeholder="Descrizione categoria"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Crea Categoria</button>
	</form>
</div>


<div hx-get="{{ url_for('settings.listCategorie') }}" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#spinner-id" class="bg-white rounded shadow-lg p-4 text-xl font-bold mb-4">
	<img src="../../static/img/spinning-circles.svg" alt="Loading..." class="mx-auto d-block" id="spinner-id" style="width: 50px; height: 50px;">
</div>
</div>