<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="../static/img/contapapagne-logo.svg" alt="ContaPapagne Logo" style="height: 64px;">
            <span class="ms-3">ContaPapagne</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" hx-get="{{ url_for('movimenti.dashboard') }}" hx-target="#main">Movimenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" hx-get="{{ url_for('investimenti.dashboard') }}" hx-target="#main">Investimenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" hx-get="{{ url_for('budgets.dashboard') }}" hx-target="#main">Budgets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" hx-get="{{ url_for('settings.dashboard') }}" hx-target="#main">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
